/* Thiết kế nút và căn giữa */
.md-footer-custom {
  text-align: center;
  padding: 10px 0;
}

.md-footer-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #F5940C; /* Màu tím cho nút */
  color: #FFFFFF; /* Chữ trắng trên nút */
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.md-footer-button:hover {
  background-color: #9C27B0; /* Màu tím đậm hơn khi hover */
}