/* Footer full width */
.custom-footer {
  width: 100%;
  background-color: var(--md-primary-fg-color); /* màu tím primary */
  padding: 1rem 0;
  text-align: center;
  position: relative;
}

/* Chữ trắng, in đậm */
.custom-footer p {
  margin: 0;
  font-weight: bold;
  color: orange;
  font-size: 1.1rem;
}

/* Link trắng */
.custom-footer a {
  color: orange !important;
  text-decoration: none;
}

.custom-footer a:hover {
  text-decoration: underline;
}
