/* Căn giữa dòng chữ trong footer */
.md-footer-custom {
  text-align: center;
  padding: 10px 0;
  background-color: #AB47BC;
}

/* Đảm bảo màu chữ nổi bật (tùy chọn) */
.md-footer-custom a {
  color: #F5940C; /* Màu tím, có thể thay đổi */
  text-decoration: none;
}

.md-footer-custom a:hover {
  color: #9C27B0; /* Màu tím đậm hơn khi hover */
}