/* ghi đè style footer mặc định */
.md-footer__inner.custom-footer {
  background-color: var(--md-primary-fg-color); /* màu tím primary */
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* chữ/link */
.md-footer__inner.custom-footer p {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
}

.md-footer__inner.custom-footer a {
  color: orange !important;
  text-decoration: none;
}

.md-footer__inner.custom-footer a:hover {
  text-decoration: underline;
}
