.custom-footer {
  background-color: var(--md-primary-fg-color); /* màu tím primary */
  padding: 1rem;
  text-align: center;
}

.custom-footer p {
  margin: 0;
  font-weight: bold;
  color: white;
}

.custom-footer a {
  color: white;
  text-decoration: none;
}

.custom-footer a:hover {
  text-decoration: underline;
}
